<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CineDirect</title> 
    <link rel="stylesheet" href="/css/style.css">
</head>
    <body>
        <%- include('partials/_search') %>
        <% if (moviesTrend && moviesTop) { %>
            <header>
                <h2>| Destaques</h2>
            </header>
            <div class="wrapper" >
                <%for (const movie of moviesTrend) { %>
                    <div class="movie-item">
                        <a href="/movie/<%= movie.id %>">
                            <img class="movie-image" src="<%= imgURL %>w200<%= movie.
                            poster_path %>"alt="poster <%= movie.title %>"
                            draggable="false">
                        </a>
                        <% if (movie.title.length < 20) { %>
                            <p class="title-movie"><%= movie.title %></p>
                        <% }else{ %>
                            <p class="title-movie"><%= movie.title.
                            slice(0,17) %>...</p>
                        <% } %>
                    </div>
                <%}%>
            </div>
            <header>
                <h2>| TOP 20</h2>
            </header>
            <div class="wrapper">
                <%for (const topMovie of moviesTop ) { %>
                    <div class="movie-item">
                        <a href="/movie/<%= topMovie.id %>">
                            <img class="movie-image" src="<%= imgURL %>w200<%= topMovie.
                            poster_path %>"alt="poster <%= topMovie.title %>"
                            draggable="false">
                        </a>
                        <% if (topMovie.title.length < 20) { %>
                            <p class="title-movie"><%= topMovie.title %></p>
                        <% }else{ %>
                            <p class="title-movie"><%= topMovie.title.
                            slice(0,17) %>...</p>
                        <% } %>
                    </div>
                <%}%>
            </div>
        <% } %>
        <%- include('partials/_footer') %>
    </body>
</html>
