<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CineDirect</title> 
</head>
<style>
    .bkg{
        background-color: rgb(18, 18, 18);
    }
    .movie{
        border-radius: 0.5rem;
        box-shadow: 0 0 25px 1px rgb(62, 62, 62);
    }
    .title-movie{
        font-size:medium;
        font-weight:500;
        color: rgb(240, 240, 240);
    }
</style>
<body class="bkg">
    <%- include('partials/_search') %>
    <% if (movies) { %>
        <div class="container mt-5">
            <div class="row">
                <%for (const movie of movies) { %>
                    <div class="col text-center">
                        <a href="/movie/<%= movie.id %>">
                            <img class="movie" src="<%= imgURL %>w200<%= movie.
                            poster_path %>"alt="poster <%= movie.title %>">
                        </a>
                        <div class="p-3">
                            <p class="title-movie"><%= movie.title %>
                            | <%= movie.release_date.slice(0,4) %></p>
                        </div>
                    </div>
                <%}%>
            </div>
        </div>
    <% } else if (inputValue) { %>
        <div class="mt-5 text-center">
            <h3>"<%= inputValue %>" não existe no nosso catálogo de filmes</h3>
        </div>
    <% } %>
    <% if (numberPage) { %>
        <%- include('partials/_pagination', {numberPage, totalPages, inputValue}) %>
    <% } %>
    <%- include('partials/_footer') %>
</body>
</html>
