<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('partials/_header') %>
</head>
    <body>
        <%- include('partials/_search') %>
        <% if (movies) { %>
            <div class="grid-movies" >
                <%for (const movie of movies) { %>
                    <div class="movie-item">
                        <a href="/movie/<%= movie.id %>">
                            <img class="movie-image" src="<%= imgURL %>w500<%= movie.
                            poster_path %>"alt="poster <%= movie.title %>"
                            draggable="false">
                        </a>
                        <% if (movie.title.length < 20) { %>
                            <p class="title-movie"><%= movie.title %></p>
                        <% }else{ %>
                            <p class="title-movie"><%= movie.title.
                            slice(0,17) %>...</p>
                        <% } %>
                    </div>
                <%}%>
            </div>
        <% } else if (inputValue) { %>
            <div class="error-search">
                <h3>"<%= inputValue %>" não existe no nosso catálogo de filmes</h3>
            </div>
        <% } %>
        <% if (numberPage) { %>
            <%- include('partials/_pagination', {numberPage, totalPages, inputValue}) %>
        <% } %>
        <%- include('partials/_footer') %>
    </body>
</html>
