<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CineDirect</title> 
    <link rel="stylesheet" href="/css/style.css">
</head>
    <body>
        <%- include('partials/_search') %>
        <% if (movies) { %>
            <div class="grid-movies" >
                <%for (const movie of movies) { %>
                    <div class="movie-item">
                        <a href="/movie/<%= movie.id %>">
                            <img class="movie-image" src="<%= imgURL %>w200<%= movie.
                            poster_path %>"alt="poster <%= movie.title %>"
                            draggable="false">
                        </a>
                        <% if (movie.title.length < 20) { %>
                            <p class="title-movie"><%= movie.title %></p>
                        <% }else{ %>
                            <p class="title-movie"><%= movie.title.
                            slice(0,17) %>...</p>
                        <% } %>
                    </div>
                <%}%>
            </div>
        <% } else if (inputValue) { %>
            <h3>"<%= inputValue %>" não existe no nosso catálogo de filmes</h3>
        <% } %>
        <% if (numberPage) { %>
            <%- include('partials/_pagination', {numberPage, totalPages, inputValue}) %>
        <% } %>
        <%- include('partials/_footer') %>
    </body>
</html>
