<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CineDirect</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
    <body>
        <%- include('partials/_search') %>
        <% if (movie) { %>
            <div class="movie-details">
                <img src="<%= imgURL %>w200<%= movie.poster_path %>"
                loading="lazy" alt="poster <%= movie.title %>">
                <div class="movie-info">
                    <h1><%= movie.title %> (<%= movie.release_date.slice(0,4) %>) </h1>
                    <h2><%= movie.overview %></h2>
                    <h3>  
                        <%for (const genre of movie.genres) { %>
                            <a class="link-hover" href="/movie/genre/<%= genre.id %>">
                                <%= genre.name %>
                            </a>
                        <%}%>
                    </h3>
                </div>
            </div>
            <img src="<%= imgURL %>w500<%= movie.backdrop_path %>"
            id="backdrop-movie" loading="lazy" alt="image of <%= movie.title %>">
        <% } %>
        <div id="movie-links">
            <h1>Links para o filme:</h1>
            <% if (links) { %>
                <div class="link-container">
                    <% for(const link in links) { %>
                        <a class="link-hover" href="<%= links[link] %>"
                        target="_blank"><%= link %></a>
                    <% } %> 
                </div>
            <% } else { %>
                <p>Nenhum link para o filme escolhido</p>
            <% } %>
        </div>

        <%- include('partials/_footer') %>
    </body>
</html>
