<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CineDirect</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
    <body>
        <%- include('partials/_search') %>
        <div class="w-50 mx-auto text-center">
            <% if (movie) { %>
                <img src="<%= imgURL %><%= movie.poster_path %>" alt="poster <%= movie.title %>">
                <h3><%= movie.title %></h3>
                <h5> 
                <span>Gêneros:</span>
                (<%for (const genre of movie.genres) { %>
                    <span><%= genre.name%></span>
                <%}%>) |
                <%= movie.release_date %> 
                </h5>
                <h7><%= movie.overview %></h7>
            <% } %>
        </div>
        <h4>Links para o filme:</h4>
        <i class="bi-alarm"></i>
        <% if (Object.keys(links).length !== 0) { %>
            <% for(const link in links) { %>
                <a style="display: block; font-size: larger;"
                href="<%= links[link] %>" target="_blank"><%= link %></a>
            <% } %>
        <% } else { %>
            <p>Nenhum link para o filme escolhido</p>
        <% } %>

        <%- include('partials/_footer') %>
    </body>
</html>
