<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
      <% if (numberPage > 1) { %>
          <li class="page-item"><a class="page-link" href="?movie=<%= inputValue %>&page=<%= numberPage - 1 %>">Anterior</a></li>
      <% } %>
      <% for (let i = 1; i <= totalPages; i++) { %>
          <li class="page-item <%= i === numberPage ? 'active' : '' %>">
              <a class="page-link" href="?movie=<%= inputValue %>&page=<%= i %>"><%= i %></a>
          </li>
      <% } %>
      <% if (numberPage < totalPages) { %>
          <li class="page-item"><a class="page-link" href="?movie=<%= inputValue %>&page=<%= numberPage + 1 %>">Próximo</a></li>
      <% } %>
  </ul>
</nav>